@model Cotrageco.Models.Corperate_Info

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Corperate_Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Corperate_InfoId" />
            <div class="form-group">
                <label asp-for="Corperate_Title" class="control-label"></label>
                <input asp-for="Corperate_Title" class="form-control" />
                <span asp-validation-for="Corperate_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corperate_Image" class="control-label"></label>
                <input asp-for="Corperate_Image" class="form-control" />
                <span asp-validation-for="Corperate_Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corperate_Description" class="control-label"></label>
                <input asp-for="Corperate_Description" class="form-control" />
                <span asp-validation-for="Corperate_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

