@model Cotrageco.Models.Cotrageco_Content

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cotrageco_Content</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* add method="post" enctype="multipart/form-data to the form tag to accept uploaded files *@
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Objective_Title" class="control-label"></label>
                @*  to use the SUMMERNOTE WYSIWYG editor, put it in the textarea tag with the id of the JS script *@
                <textarea id="summernote1" asp-for="Objective_Title" class="form-control"></textarea>
                <span asp-validation-for="Objective_Title" class="text-danger"></span>
                @* the JS script of the SUMMERNOTE WYSIWYG editor *@
                <script>
                    $('#summernote1').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Objective_Description" class="control-label"></label>
                <textarea id="summernote2" asp-for="Objective_Description" class="form-control"></textarea>
                <span asp-validation-for="Objective_Description" class="text-danger"></span>
                <script>
                    $('#summernote2').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Project_Title" class="control-label"></label>
                <textarea id="summernote3" asp-for="Project_Title" class="form-control"></textarea>
                <span asp-validation-for="Project_Title" class="text-danger"></span>
                <script>
                    $('#summernote3').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Project_Description" class="control-label"></label>
                <textarea id="summernote4" asp-for="Project_Description" class="form-control"></textarea>
                <span asp-validation-for="Project_Description" class="text-danger"></span>
                <script>
                    $('#summernote4').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="AboutUs_Title" class="control-label"></label>
                <textarea id="summernote5" asp-for="AboutUs_Title" class="form-control"></textarea>
                <span asp-validation-for="AboutUs_Title" class="text-danger"></span>
                <script>
                    $('#summernote5').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="AboutUs_Description" class="control-label"></label>
                <textarea id="summernote6" asp-for="AboutUs_Description" class="form-control"></textarea>
                <span asp-validation-for="AboutUs_Description" class="text-danger"></span>
                <script>
                    $('#summernote6').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>
            <div class="form-group">
                <label asp-for="OFS_Title" class="control-label"></label>
                <textarea id="summernote7" asp-for="OFS_Title" class="form-control"></textarea>
                <span asp-validation-for="OFS_Title" class="text-danger"></span>
                <script>
                    $('#summernote7').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="OFS_Description" class="control-label"></label>
                <textarea id="summernote8" asp-for="OFS_Description" class="form-control"></textarea>
                <span asp-validation-for="OFS_Description" class="text-danger"></span>
                <script>
                    $('#summernote8').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Services_Title" class="control-label"></label>
                <textarea id="summernote9" asp-for="Services_Title" class="form-control"></textarea>
                <span asp-validation-for="Services_Title" class="text-danger"></span>
                <script>
                    $('#summernote9').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Services_Description" class="control-label"></label>
                <textarea id="summernote10" asp-for="Services_Description" class="form-control"></textarea>
                <span asp-validation-for="Services_Description" class="text-danger"></span>
                <script>
                    $('#summernote10').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Realisations_Title" class="control-label"></label>
                <textarea id="summernote11" asp-for="Realisations_Title" class="form-control"></textarea>
                <span asp-validation-for="Realisations_Title" class="text-danger"></span>
                <script>
                    $('#summernote11').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Realisations_Description" class="control-label"></label>
                <textarea id="summernote12" asp-for="Realisations_Description" class="form-control"></textarea>
                <span asp-validation-for="Realisations_Description" class="text-danger"></span>
                <script>
                    $('#summernote12').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Purpose_Title" class="control-label"></label>
                <textarea id="summernote13" asp-for="Purpose_Title" class="form-control"></textarea>
                <span asp-validation-for="Purpose_Title" class="text-danger"></span>
                <script>
                    $('#summernote13').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Purpose_Description" class="control-label"></label>
                <textarea id="summernote14" asp-for="Purpose_Description" class="form-control"></textarea>
                <span asp-validation-for="Purpose_Description" class="text-danger"></span>
                <script>
                    $('#summernote14').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Contact_Title" class="control-label"></label>
                <textarea id="summernote15" asp-for="Contact_Title" class="form-control"></textarea>
                <span asp-validation-for="Contact_Title" class="text-danger"></span>
                <script>
                    $('#summernote15').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Contact_Description" class="control-label"></label>
                <textarea id="summernote16" asp-for="Contact_Description" class="form-control"></textarea>
                <span asp-validation-for="Contact_Description" class="text-danger"></span>
                <script>
                    $('#summernote16').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Contact_Address" class="control-label"></label>
                <textarea id="summernote17" asp-for="Contact_Address" class="form-control"></textarea>
                <span asp-validation-for="Contact_Address" class="text-danger"></span>
                <script>
                    $('#summernote17').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Contact_Email" class="control-label"></label>
                <textarea id="summernote18" asp-for="Contact_Email" class="form-control"></textarea>
                <span asp-validation-for="Contact_Email" class="text-danger"></span>
                <script>
                    $('#summernote18').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Contact_Phone" class="control-label"></label>
                <textarea id="summernote19" asp-for="Contact_Phone" class="form-control"></textarea>
                <span asp-validation-for="Contact_Phone" class="text-danger"></span>
                <script>
                    $('#summernote19').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="AboutUs_Banner" class="control-label"></label>
                <textarea id="summernote20" asp-for="AboutUs_Banner" class="form-control"></textarea>
                <span asp-validation-for="AboutUs_Banner" class="text-danger"></span>
                <script>
                    $('#summernote20').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="OFS_Banner" class="control-label"></label>
                <textarea id="summernote21" asp-for="OFS_Banner" class="form-control"></textarea>
                <span asp-validation-for="OFS_Banner" class="text-danger"></span>
                <script>
                    $('#summernote21').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Services_Banner" class="control-label"></label>
                <textarea id="summernote22" asp-for="Services_Banner" class="form-control"></textarea>
                <span asp-validation-for="Services_Banner" class="text-danger"></span>
                <script>
                    $('#summernote22').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Contact_Banner" class="control-label"></label>
                <textarea id="summernote23" asp-for="Contact_Banner" class="form-control"></textarea>
                <span asp-validation-for="Contact_Banner" class="text-danger"></span>
                <script>
                    $('#summernote23').summernote({
                        placeholder: 'Hello Bootstrap 4',
                        tabsize: 2,
                        height: 50
                    });
                </script>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>