@model Cotrageco.ViewModel.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<section class="w3l-contact-breadcrum">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="index.html">Accueil</a> &nbsp; / &nbsp; Contactez</p>
            @foreach (var CC in Model.cotrageco_Contents)
            {
                <h2 class="my-3">@Html.Raw(CC.Contact_Title)</h2>
                <p>@Html.Raw(CC.Contact_Description)</p>
                <!-- Contact_Banner-->
            }
 </div>
    </div>
</section>
<!-- contact -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">

            <div class="row cont-main-top">

                <!-- contact address -->
                <div class="contact col-lg-4">
                    <div class="cont-subs">
                        <div class="cont-add">

                            <div class="cont-add-rgt">
                                <h4>Address:</h4>
                                <p class="contact-text-sub">78 Avenue Andre Lumbu, Golf Maisha,<br> Lubumbashi, Haut-Katanga, <br>Democratic Republic of Congo</p>
                            </div>
                            <div class="cont-add-lft">
                                <span class="fa fa-map-marker" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="cont-add add-2">

                            <div class="cont-add-rgt">
                                <h4>Email:</h4>
                                <a href="mailto:info@example.com">
                                    <p class="contact-text-sub">cotragecosarlfalmulu@gmail.com</p>
                                </a>
                            </div>
                            <div class="cont-add-lft">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="cont-add">

                            <div class="cont-add-rgt">
                                <h4>Phone:</h4>
                                <a href="tel:(+243) 81 049 48 88">
                                    <p class="contact-text-sub">(+243) 81 049 48 88 </p>
                                </a>
                                <a href="tel:(+243) 99 72 93 031">
                                    <p class="contact-text-sub">(+243) 99 72 93 031</p>
                                </a>
                            </div>
                            <div class="cont-add-lft">
                                <span class="fa fa-phone" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="cont-add add-3">

                            <div class="cont-add-rgt">
                                <h4>Find Us On</h4>
                                <div class="main-social-1 mt-2">
                                    <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                                    <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                                    <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                                    <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                                    <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                            <div class="cont-add-lft">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //contact address -->
                <!-- contact form -->
                <div class="contacts12-main col-lg-8 mt-lg-0 mt-5">

                    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="main-input">
                        <div class="top-inputs d-grid">
                            <input type="text" placeholder="Votre nom" name="w3lName" id="w3lName" required="">
                            <input type="email" name="email" placeholder="adresse courriel" id="w3lSender" required="">
                        </div>
                        <input type="text" placeholder="Numéro de téléphone" name="w3lName" id="w3lName" required="">
                        <textarea placeholder="Votre message" name="w3lMessage" id="w3lMessage" required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-theme2">Soumettre maintenant</button>
                        </div>
                    </form>
                </div>
                <!-- //contact form -->
            </div>
        </div>
        <!-- map -->
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.4613499068064!2d27.435586075913065!3d-11.66168068854608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19723d4a82ea3b1d%3A0xc10b5e05d4e9546a!2sAndr%C3%A9%20Lumbu%20Concession!5e0!3m2!1sen!2sza!4v1701121927118!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- //map -->
    </div>
</section>