
@{
    ViewData["Title"] = "Services";
}

<section class="w3l-service-breadcrum">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="index.html">Accueil</a> &nbsp; / &nbsp; Nos Services</p>
            <h2 class="my-3">Nos Services</h2>
            <p>
                COTRAGECO Sarl s'engage dans les différentes sous-traitances 
                avec des sociétés minières et différents partenariats dans le sens de consolider 
                les efforts avec ces derniers dans une politique des gagnant - gagnant pour améliorer 
                le capital humain et les conditions de vie. Nos objectifs clés incluent des stratégies de développement durable,
                la protection des enfants vulnérables, 
                la promotion de l'égalité des genres et la durabilité environnementale
            </p>
        </div>
    </div>
</section>

<div class="products-4" id="gallery">
    <!-- Products4 block -->
    <div id="products4-block" class="text-center">
        <div class="container">
            <div class="heading text-center mx-auto mb-5">
                <h3 class="head">
                    NOS REALISATIONS
                </h3>
            </div>
            <div>
                <p>
                    Le Guichet Unique de Création d’Entreprise actuellement régi par le Décret 14/014 du 8 mai 2014 constitue
                    l’une des manifestations palpables de l’engagement du Gouvernement de la République
                    Démocratique du Congo d’améliorer le climat des affaires et des investissements. Ainsi suite  à la crise
                    multiforme qui se vit dans le monde et en particulier dans  notre pays dont l’importance de
                    la création des nouvelles entreprises resulte de la necessite de trouver de nouveaux emplois
                    en remplacement de ceux perdus nécessitant la participation efficace à la reconstruction
                    nationale  pour le développement durable d’où l’engagement de la COTRAGECO Sarl  dans les
                    sous traitances par de partenariat  d’exécution des différents contrats  dont : <br />
                </p>
                <ul style="margin-top: 15px; margin-bottom: 15px" class="cont-4">
                    <li>La mise en œuvre des projets d’eau, d’hygiène et d’assainissement ainsi que les projets de forages pour un environnement sain avec UNICEF</li>
                    <li>La construction des bâtiments scolaires, des bâtiments administratifs dans le cadre des responsabilités sociales des entreprises avec APEDE</li>
                    <li>La construction des marchés et extension des marchés publics dans le cadre de redevance minières avec APEDE</li>
                    <li>La réhabilitation des routes par la méthode HIMO (Haute Intensité des Mains d’Œuvre) avec UNOPS</li>
                    <li>Études sur la réduction des risques d’accident avec proposition des plans d’aménagement des routes secondaires avec le Fond Social Communautaire TFM</li>
                    <li>Organisation de transport des personnes et leurs biens avec COTRAGECO Sarl</li>
                    <li>Organisation de la logistique en assurant le pipeline des marchandises, matériaux de construction et autres des différents commerçants, et différentes agences (Livraison – Expédition – Réception) avec COTRAGECO Sarl</li>
                    <li>Organisation du transport des personnels de la société SOMIKA avec SOMIKA et SIGMA</li>
                </ul>
            </div>


            <input id="tab1" type="radio" name="tabs" checked>
            <label class="tabtle" for="tab1">au lieu Realisations  </label>

            <input id="tab2" type="radio" name="tabs">
            <label class="tabtle" for="tab2">au lieu de L'unstitue et la marche rehabilitation </label>

            <input id="tab3" type="radio" name="tabs">
            <label class="tabtle" for="tab3">au lieu de route  Reduction des risques d'accident </label>

            <input id="tab4" type="radio" name="tabs">
            <label class="tabtle" for="tab4">Rehabilitation des routes par la Methode HIMO et construction des ponts</label>

            <input id="tab5" type="radio" name="tabs">
            <label class="tabtle" for="tab5">Mise en œuvre des projets d’eau , d’hygiene et assainissement ainsi que le projet des forages</label>

            <input id="tab6" type="radio" name="tabs">
            <label class="tabtle" for="tab6">Construction des marchés et extension des marches publics</label>


            <section id="content1" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="~/assets/images/1.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab1a.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/2.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab1b.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/4.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab1c.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
@*                     <div class="product">
                        <a href="~/assets/images/7.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/7.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/11.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/11.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/12.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/12.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div> *@

                </div>
            </section>

            <section id="content2" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="~/assets/images/10.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab2a.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/13.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab2b.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/14.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab2c.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
@*                     <div class="product">
                        <a href="~/assets/images/15.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/15.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/16.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/16.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/19.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/19.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div> *@
                </div>
            </section>

            <section id="content3" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="~/assets/images/20.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab3a.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/18.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab3b.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/19.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab3c.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>

                    <div class="product">
                        <a href="~/assets/images/19.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab3d.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                </div>
            </section>

            <section id="content4" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="~/assets/images/16.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4a.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4b.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>

                    <div class="product">
                        <a href="~/assets/images/16.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4c.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4d.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4e.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>

                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4f.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>

                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4g.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>

                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4h.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>

                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab4i.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                </div>
            </section>

            <section id="content5" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="~/assets/images/16.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab5a.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab5b.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab5c.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>

                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab5d.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                </div>
            </section>

            <section id="content6" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="~/assets/images/16.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab6a.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab6b.jpg class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>

                    <div class="product">
                        <a href="~/assets/images/16.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab6c.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="~/assets/images/17.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/assets/images/tab6d.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Products4 block -->
</div>

<section class="w3l-service-3" id="features">
    <div class="w3l-open-block-services py-5">
        <div class="container py-lg-3">

            <div class="heading text-center mx-auto">
                <h3 class="head">Renseignements relatifs a l'objet social  </h3>
                <p class="my-3 head ">
                    La société COTRAGECO Sarl peut en outre faire en recourant selon le cas à l’association, 
                    au partenariat ou à la sous traitance de toute entreprise titulaire des 
                    accès à profession et autres en rapportant directement ou 
                    indirectement à son objet social ou susceptible à contribuer de manière générale à son développement
                </p>
            </div>
            <div class="row mt-5 pt-3">
                <div class="col-lg-4 col-md-6">
                    <div class="card">

                        <h4 class="mission">La Prestation</h4>
                        <div class="icon-holder">
                            <span class="fa fa-certificate service-icon" aria-hidden="true"></span>
                        </div>
                        <div class="open-description">
                            <p>La prestation de tout service généralement quelconque relevant dans les secteurs publics que privés à l’échelle provinciale, nationale, internationale</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5 pt-md-0 pt-3">
                    <div class="card">

                        <h4 class="mission">Appui et Réalisation</h4>
                        <div class="icon-holder">
                            <span class="fa fa-home service-icon" aria-hidden="true"></span>
                        </div>
                        <div class="open-description">
                            <p>
                                Appui et réalisation des projets humanitaires et de développement (protection de l’enfant, lutte contre les violences faites à la femme et à la jeune fille, lutte
                                contre l’exploitation des enfants dans les carrières et les mines
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5 pt-lg-0 pt-3">
                    <div class="card">

                        <h4 class="mission">Accès de la population</h4>
                        <div class="icon-holder">
                            <span class="fa fa-user service-icon" aria-hidden="true"></span>
                        </div>
                        <div class="open-description">
                            <p>Accès de la population à l’eau potable et lutte contre les maladies hydriques en améliorant les conditions d’eau, d’hygiène et d’assainissement</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>