@model Cotrageco.Models.Our_Resource

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Our_Resource</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resource_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resource_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resource_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resource_Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Our_ResourceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
